<!-- NO ROUTER HAS BEEN ADDED SINCE ITS NOT GOING TO NAVIGATE FROM THE PAGE -->
<div>
  <header class="header fixed">
    <div class="clearfix">
        <h1>The Interview - Abhishek Khuntia</h1>
        <input type="text" [disabled]="showLoader" placeholder="Search by name!" [(ngModel)]="filterBy" (input)="checkNReset($event)" />
    </div>
  </header>
  <div class="container">
      <div class="content">
          <list-component [listData]="usersData"  [filterBy]="filterBy"></list-component>
      </div>
  </div>
    
</div>
<div *ngIf="showLoader" class="modal-shade">
    <img src="assets/loader.gif" alt="">
</div>